div.cmis_viewer{
    margin-top: 15px;
}
}
div.dataTables_scrollBody {
    min-height: 40vh;
}

div.cmic_content_icon:before {
    margin-right: 4px;
}

div.cmis_viewer td.details-control {
    background: url('/web_cmis_viewer/static/src/img/details_open.png') no-repeat center center;
    cursor: pointer;
}
div.cmis_viewer tr.shown td.details-control {
    background: url('/web_cmis_viewer/static/src/img/details_close.png') no-repeat center center;
}
div.cmis_viewer .dataTables_length{
    text-align: right;
}

div.cmis_viewer_details {
//padding-left:50px;
}


div.cmis_viewer_content_actions a.dropdown-toggle.glyphicon.glyphicon-align-justify {
  top: 0px;
} 

div.cmis_viewer_content_actions ul.dropdown-menu{
  position: fixed;
}

div.cmis_update_content_stream input[type="file"] {
    width: 90%;
    height: initial !important;
}