.alf-ico {
    background-image: url("/cmis_web_alf/static/src/images/alfresco-logo-16.png");
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    width: 16px;
    height: 16px;
    display: block;
}
